
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');



:root {

    color-scheme: dark;
    background-color: #202020;
    color: #ffffff;

}


*{
    margin: 0;
    padding: 0;
}

html{
    font-family: Karla, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    text-align: center;
}



body {
    background-color: #202020;
    color: #ffffff;
    margin: 0px;
    min-height: 100vh;
    background-image: url(bgdrop-all.jpg);
    background-size: cover;
    background-position: right;
    


}

main{
    margin-left: 20px;
    margin-right: 20px;
}

h1{
    text-align: center;
    background-color: #202020;
    margin-left: 30px;
    margin-right: 30px;
}

.navbar{

    .navbar {
    height: 60px;                
    background-color: hsl(246, 91%, 5%);
    display: flex;         
    padding: 0 16px;
}

}
.navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    background-color: hsl(246, 91%, 5%);
}

.navbar a{
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    display: block;
    
    
}

.navbar a:hover{
    background-color: #02455a;
}

.navbar li{
     height: 100%;
}


.logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img{
    .logo img {
    max-height: 80%;   
    width: auto;
    display: block;
}
}




