
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');



:root {

    color-scheme: dark;
    background-color: #202020;
    color: #ffffff;

}


*{
    margin: 0;
    padding: 0;
}

html{
    font-family: Karla, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    text-align: center;
}



body {
    background-color: #202020;
    color: #ffffff;
    margin: 0px;
    min-height: 100vh;
    background-image: url(pexels-chrisluengas-19676084.jpg);
    background-size: cover;
    background-position: right;
    overflow: hidden;


}

main{
    margin-left: 20px;
    margin-right: 20px;
}

h1{
    text-align: center;
    background-color: #202020;
    margin-left: 30px;
    margin-right: 30px;
}

.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.navbar a:hover{
    background-color: #121212;
}

.navbar li{
    float: left;
}



