
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');



:root {

    color-scheme: dark;
    background-color: #202020;
    color: #ffffff;

}


*{
    margin: 0;
    padding: 0;
}

html{
    font-family: Karla, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    text-align: center;
}



body {
    background-color: #202020;
    color: #ffffff;
    margin: 0px;
    min-height: 100vh;
    background-image: url(pexels-chrisluengas-19676084.jpg);
    background-size: cover;
    background-position: right;
    overflow: hidden;


}

main{
    margin-left: 20px;
    margin-right: 20px;
}

h1{

    font-size: 2rem; 
    font-weight: 300;
    text-transform: uppercase;




    text-align: center;
    background-color: #202020;
    margin-left: 30px;
    margin-right: 30px;
}

h2{
      font-size: 2rem; 
}


p{
    font-weight: 400;
}



.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.navbar a:hover{
    background-color: #121212;
}

.navbar li{
    float: left;
}

.gif{
    width: 200px;
    border-radius: 12px;
    
}

.gif-container{
    display: flex;
    justify-content: end;
}

.wrapper{
    box-sizing: border-box;
    
   
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #202020;
    margin-left: 30px;
    margin-right: 30px;

}


form{
    
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form > div {
    width: 100%;
    display: flex;
    justify-content: center;
}


form label{
    width: 30px;
    background-color: darkslategrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input{
    box-sizing: border-box;
    min-width: 0;
    height: 30px;
    padding: 1em;
    font: inherit; 
    border: none;

}

form input:hover{
    border-color: #ffffff;
}

form button{
    margin-top: 10px;
    border: none; 
    border-radius: 1000px; 
    padding: .85em 4em; 
    background-color: darkslategrey;
}
