<nav class="navbar">

    <ul class="nav-left">

        <li>
            <button id="menu-toggle" class="menu-btn">☰</button>
        </li>

        <li><a href="../htmls/index.html"><img src="../images/homev2.png" class="imgnavbar">Home</a>
        </li>
        <li><a href="../htmls/courses.html"><img src="../images/Book1.png" class="imgnavbar">Kurse</a></li>
        <li><a href="../htmls/settings.html"><img src="../images/tools.png" class="imgnavbar" >Settings</a></li>
        <li><a href="../htmls/profile.html"><img src="../images/profile.png" class="imgnavbar" >Profile</a></li>
       <li><a href="../htmls/login.html"><img src="../images/tuer.png" class="imgnavbar">Login</a></li>
        <li><a href="../htmls/signup.html"><img src="../images/scrollwithfeather.png" class="imgnavbar">SignUp</a></li>
       
        
    </ul>
    <div class="nav-right">

        Willkommen, <span id="display-name">Gast</span>
        <img src="../images/duck.png" id="navbar-profile-image" class="navbar-profile-img">

    </div>
   
</nav>


<div id="sidebar" class="sidebar">
<ol>
    <a href="../htmls/index.html">Home</a>
    <a href="../htmls/profile.html">Profil Version Be</a>
    <a href="../htmls/meinDaten.html">Profil Version JJ</a>
    <a href="../htmls/quiz.html">Quiz</a>
    <a href="../htmls/settings.html">Einstellungen</a>
    <a href="../htmls/login.html">Login</a>
    <a href="../htmls/signup.html">SignUp</a>
    <a href="#" onclick="logout()">LogOut</a>
    
</ol>
    
</div>



<div id="overlay" class="overlay"></div>